<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @worker.rut %>
</p>

<%= link_to 'Back', company_workers_path, class: 'btn btn-secondary m-1'  %>
